a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.page-body {
    font-family: sans-serif;
    margin: auto;
}

.wrapper {
    margin-left: 84px;
    margin-right: 84px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    --items-in-row: 3;
    gap: 120px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ebe8f4;
}

.nav-bar-item {
    padding-top: 25px;
    padding-bottom: 25px;
    width: calc(
        (100% - (var(--gap) * (var(--items-in-row) - 1))) / var
        (--items-in-row)
    );
}

.nav-bar-item:nth-child(3) {
    margin-left: auto;
}

.logo {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    color: #22202e;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 44px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-item {
    padding-top: 5px;
}

.nav-item-link {
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
    display: inline-block;
}

.nav-list-icon {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-item-icon {
    padding-top: 7px;
}

.nav-link-icon {
    width: 16px;
    height: 16px;
}

.svg-icon1 {
    fill: #fff;
    background-image: 
    url(../img/search.svg),
    url(../img/shopping--cart.svg),
    url(../img/user--avatar.svg);
    background-size: 16px 16px;
}

.view {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #2a254b;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 24px; 
}

.filters {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
}

select {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    border: none;
}

.select {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.sorting {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2a254b;
}

.page-main{
    margin-left: 84px;
    margin-right: 84px;
}

.img-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.img-item {
    padding-top: 24px;
    padding-bottom: 20px;
}

.img-item-details{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a254b;
    padding-top: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.img-item-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a254b;
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 0;
}

.view-btn {
    padding: 16px 32px;
    width: 175px;
    height: 56px;
    background: #f9f9f9;
    margin: 0 auto 40px;
    display: block;
}

.view-btn-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
}

.call {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.img-call {
    background-image: url(../img/join-background.jpg);
    background-size: 521px 720px;
}

.call-title {
    font-weight: 400;
    font-size: 32px;
    color: #2a254b;
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: 50px;
}

.call-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 50px;
}

.call-btn {
    padding: 16px 30px;
    width: 120px;
    height: 56px;
    background: #2a254b;
    margin-left: 50px;
}

.call-btn-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer {
    background: #2a254b;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 57px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #4e4d93;
}

.footer-flex {
    list-style: none;
    display: flex;
    --items-in-row: 3;
    gap: 120px;
}

.item {
    width: calc(
        (100% - (var(--gap) * (var(--items-in-row) - 1))) / var
        (--items-in-row)
    );
}

.title {
    font-family: "Clash Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;

}

.item-text {
    padding-top: 12px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.copy-nav {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.copy-item {
    padding-top: 24px;
    padding-bottom: 25px;
    display: inline-block;  
}

.copy-text {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.nav-svg-item {
    padding-top: 24px;
    padding-bottom: 25px;
    display: inline-block;
    margin-left: auto;
}

.nav-svg-list {
    display: flex;
    justify-content: end;
    gap: 24px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.svg-icon2 {
    fill: #fff;
    background-image: 
    url(../img/logo--linkedin.svg),
    url(../img/logo--facebook.svg),
    url(../img/logo--instagram.svg),
    url(../img/logo--skype.svg),
    url(../img/logo--twitter.svg),
    url(../img/logo--pinterest.svg);
    background-size: 22px 22px;
    background: transparent;
}
